a.anchor(name='2014-10-2_1', href='#2014-10-2_1')
  span.octicon.octicon-link
include:md posts/2014-10-2_1.md

a.anchor(name='2014-10-2_0', href='#2014-10-2_0')
  span.octicon.octicon-link
include:md posts/2014-10-2_0.md
