include post_mixin.jade
+post(
"SIAM CSE 2015 in March",
"March 6, 2015",
"JLW")
  p
    include:md markdown/2015-03-06_0.md

+post(
"Notation, notation, notation",
"January 7, 2015",
"LTL")
  p
    include:md markdown/2015-01-07_0.md

+post(
"I don't like .func() chaining",
"January 6, 2015",
"JLW")
  p
    include:md markdown/2015-01-06_0.md

+post(
"FP in Python (II)",
"November 19, 2014",
"JLW")
  p
    include:md markdown/2014-11-19_1.md

+post(
"FP in Python for Data Processing",
"November 19, 2014",
"JLW")
  p
    include:md markdown/2014-11-19_0.md

+post(
"Python @ VIS 2014",
"November 7, 2014",
"JLW")
  p
    include:md markdown/2014-11-07_0.md

+post(
"Updated Oct 23rd OSU Tutorial",
"October 23, 2014",
"JLW")
  p
    include:md markdown/2014-10-23_1.md

+post(
"Example SQL Queries (Part II)",
"October 23, 2014",
"JLW")
  p
    include:md markdown/2014-10-23_0.md

+post(
"Using Python for Visualization and Analysis Tutorials 2014",
"October 3, 2014",
"JLW")
  p
    include:md markdown/2014-10-3_1.md

+post(
"Example SQL Queries on HPC Simulation Data",
"October 3, 2014",
"JLW")
  p
    include:md markdown/2014-10-3_0.md

+post(
"Contrasting Currents: Highlighting Ocean Structures with Nested Colormaps",
"October 2, 2014",
"CVC")
  p
    include:md markdown/2014-10-2_0.md

