include post_mixin.jade

+post(
"Example SQL Queries on HPC Simulation Data",
"October 3, 2014",
"JLW")
  p
    include:md posts/2014-10-3_0.md

+post(
"Contrasting Currents: Highlighting Ocean Structures with Nested Colormaps",
"October 2, 2014", 
"CVC")
  p
    include:md posts/2014-10-2_0.md

